.container{
    width: 300px;
    height: 200px;
    background-color: chartreuse;
}
.kutu{
    width: 150px;
    height: 100px;
    background-color: bisque;
    margin-left: 75px;
    margin-top: 50px;
}